@import '~@angular/material/theming';

$mat-white: (
    500: white,
    contrast: (
        500: $black-87-opacity
    )
);

$mat-black: (
    500: black,
    contrast: (
        500: white,
    )
);

$mat-accent: (
    50 : #e8edf0,
    100 : #c5d3da,
    200 : #9fb6c2,
    300 : #7898a9,
    400 : #5b8296,
    500 : #3e6c84,
    600 : #38647c,
    700 : #305971,
    800 : #284f67,
    900 : #1b3d54,
    A100 : #93d0ff,
    A200 : #60baff,
    A400 : #2da4ff,
    A700 : #1499ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mat-fusedark: (
    50 : #fefefe,
    100 : #fdfdfd,
    200 : #fbfbfb,
    300 : #f9f9f9,
    400 : #f8f8f8,
    500 : #f7f7f7,
    600 : #f6f6f6,
    700 : #f5f5f5,
    800 : #f3f3f3,
    900 : #f1f1f1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Palettes
$primary: mat-palette($mat-fusedark);
$accent: mat-palette($mat-accent, 900, 900, 900);
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
